@import "fds.css";

:root.lightmode {
  --background: #f7f7f7;
  --text: var(--black);
  --sidebar: #2f3641;

  /* Common */
  --page-title: #7b6161;
  --scroll: var(--gray-100);
  --scroll-bar: var(--gray-300);
  --scroll-bar-hover: var(--gray-400);

  /* Header */
  --header: var(--white);
  --header-search: var(--black);
  --btn-primary: var(--coral);
  --btn-secondary: var(--white);
  --btn-secondary-text: var(--gray-600);
  --btn-secondary-border: var(--gray-300);

  /* Movie */
  --card-background: var(--white);
  --card-text: var(--gray-800);

  /* Community */
  --board-header: var(--gray-100);
  --board-header-text: var(--gray-600);
  --board-body: var(--white);
  --board-body-text: var(--gray-800);
  --board-body-line: var(--gray-200);
  --board-comment-cnt: var(--coral);
  --dropdown: var(--gray-50);
  --dropdown-text: var(--gray-800);
  --dropdown-line: var(--gray-300);
}

:root.darkmode {
  --background: var(--gray-900);
  --text: var(--gray-200);
  --sidebar: var(--gray-800);

  /* Common */
  --page-title: var(--gray-100);
  --scroll: var(--gray-700);
  --scroll-bar: var(--gray-500);
  --scroll-bar-hover: var(--gray-400);

  /* Header */
  --header: #242427;
  --header-search: var(--gray-100);
  --btn-primary: var(--coral);
  --btn-secondary: var(--gray-700);
  --btn-secondary-text: var(--gray-50);
  --btn-secondary-border: var(--gray-500);

  /* Movie */
  --card-background: var(--gray-800);
  --card-text: var(--gray-100);

  /* Community */
  --board-header: var(--gray-750);
  --board-header-text: var(--gray-50);
  --board-body: var(--gray-800);
  --board-body-text: var(--gray-200);
  --board-body-line: var(--gray-900);
  --board-comment-cnt: var(--coral);
  --dropdown: var(--gray-800);
  --dropdown-text: var(--gray-200);
  --dropdown-line: var(--gray-400);
}
