@import "fds.css";

:root.lightmode {
  --background: #f7f7f7;
  --text: var(--black);
  --sidebar: #2f3641;

  /* Common */
  --page-title: #7b6161;
  --scroll: var(--gray-100);
  --scroll-bar: var(--gray-300);
  --scroll-bar-hover: var(--gray-400);
  --star-gray: var(--gray-300);
  --toast-border: var(--gray-300);

  /* Header */
  --header: var(--white);
  --header-search: var(--black);
  --btn-primary: var(--coral);
  --btn-secondary: var(--white);
  --btn-secondary-text: var(--gray-600);
  --btn-secondary-border: var(--gray-300);
  --search: #f4f4f588;

  /* Home
  --banner: #e6b1b1;
  --banner-text: var(--gray-600); */

  /* Movie */
  --card-background: var(--white);
  --card-text: var(--gray-800);

  /* MovieDetail */
  --detail: var(--white);

  /* Community */
  --board-header: var(--gray-100);
  --board-header-text: var(--gray-600);
  --board-body: var(--white);
  --board-body-text: var(--gray-800);
  --board-body-line: var(--gray-200);
  --board-comment-cnt: var(--coral);
  --dropdown: var(--gray-50);
  --dropdown-text: var(--gray-800);
  --dropdown-line: var(--gray-300);

  /* Profile */
  --profile-header: var(--white);
  --profile-body: var(--gray-50);
  --profile-label: var(--gray-500);
  --profile-tag: var(--gray-100);

  /* Profile Settings */
  --profile-settings-header: var(--gray-900);
  --profile-settings-description: var(--gray-500);
  --profile-settings-body: var(--white);
  --profile-settings-form-label: var(--gray-900);
  --profile-settings-form-input: var(--white);
  --profile-settings-form-input-border: var(--gray-300);

  /* Recommend */
  --recommend: var(--white);
  --recommend-title: #7b6161;
  --recommend-text: var(--gray-400);
  --recommend-border: var(--gray-200);
  --recommend-button: var(--white);
  --recommend-button-border: var(--gray-300);

  /* Heart */
  --heart: var(--white);
  --heart-isliked: var(--white);
}

:root.darkmode {
  --background: var(--gray-900);
  --text: var(--gray-200);
  --sidebar: var(--gray-800);

  /* Common */
  --page-title: var(--gray-100);
  --scroll: var(--gray-700);
  --scroll-bar: var(--gray-500);
  --scroll-bar-hover: var(--gray-400);
  --star-gray: var(--gray-600);
  --toast-border: var(--gray-600);

  /* Header */
  --header: #242427;
  --header-search: var(--gray-100);
  --btn-primary: var(--coral);
  --btn-secondary: var(--gray-700);
  --btn-secondary-text: var(--gray-50);
  --btn-secondary-border: var(--gray-500);
  --search: #27272aaa;

  /* Home
  --banner: #252035;
  --banner-text: var(--gray-300); */

  /* Movie */
  --card-background: var(--gray-800);
  --card-text: var(--gray-100);

  /* MovieDetail */
  --detail: var(--gray-800);

  /* Community */
  --board-header: var(--gray-750);
  --board-header-text: var(--gray-50);
  --board-body: var(--gray-800);
  --board-body-text: var(--gray-200);
  --board-body-line: var(--gray-900);
  --board-comment-cnt: var(--coral);
  --dropdown: var(--gray-800);
  --dropdown-text: var(--gray-200);
  --dropdown-line: var(--gray-400);

  /* Profile */
  --profile-header: var(--gray-800);
  --profile-body: var(--gray-850);
  --profile-label: var(--gray-400);
  --profile-tag: var(--gray-700);

  /* Profile Settings */
  --profile-settings-header: var(--gray-50);
  --profile-settings-description: var(--gray-400);
  --profile-settings-body: var(--gray-800);
  --profile-settings-form-label: var(--gray-50);
  --profile-settings-form-input: var(--gray-850);
  --profile-settings-form-input-border: var(--gray-750);

  /* Recommend */
  --recommend: var(--gray-800);
  --recommend-title: var(--coral);
  --recommend-text: var(--gray-400);
  --recommend-border: var(--gray-900);
  --recommend-button: var(--gray-700);
  --recommend-button-border: var(--gray-600);

  /* Heart */
  --heart: var(--gray-700);
  --heart-isliked: var(--white);
}
